@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


@media screen and (min-width: 701px) {
    section p{
        font-size: 26pt;
    }
}

@media screen and (max-width: 700px) {
    section p{
        font-size: 5vw;
    }
}

*{
    margin: 0;
    padding: 0;
}

p{
    padding: 20px 0px;
    font-family: 'Itim', cursive;
    font-weight: normal;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    padding: 50px;
}
header h1{
    color: white;
    font-size: 6vw;
    font-variant: small-caps;
    text-align: center;
    padding-bottom: 1vw;
}
header p{
    color: white;
    text-align: center;
    padding: 0px;
}
header a{
    color: white;
    font-weight: bold;
}
header a:hover{
    color: lightgray;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
}
section p{
    line-height: 1.5em;
}

.padrao{
    background-color: white;
}

#background001{
    background: darkgreen url(../img/background001.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 0px #000000;
}
#background001 p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 6px 2px #000000a6;;
}

#background002{
    background: rgb(194, 194, 151) url(../img/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 0px #000000a6;
}

#background002 p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 6px 2px #000000a6;;
}

footer{
    background-color: black;
    padding: 5px;
}
footer p{
    color: white;
    text-align: center;
    padding: 0px;
}